<li class="cmt">
    <strong><%= dm.useraccount.accountname %></strong>
    <%= dm.created_at %><br>
    <%= @test %>
    <span><%= dm.comment %></span>
    <%= dm.contributor %>
    <% if current_useraccount.id == dm.contributor.to_i %>
      <%= link_to '削除', "/dms/#{dm.id}", method: :delete, remote: true %>
    <% end %>
</li><br>
