<div id="mypage">
  <div id="opa_layer">
    <h1 class="mypage_title">MyPage</h1><br>
    <div id="user_info">
      <!-- アカウントのアイコン -->
      <%= form_for @account, method: :patch do |f| %>
        <%= image_tag current_useraccount.avatar, size: '100x100', class: 'user_image' %>
        <%= javascript_tag do %>
          var sel_col = <%= raw current_useraccount.color.to_json %>;
          $(".user_image").css("border-color", sel_col);
        <% end %>
        <h2 class="mypage_title">
          ユーザの名前：<br>
        <%= f.text_field :accountname, id: 'user_edit', autofocus: true %>
        </h2>
        <%= f.submit '編集' %>
      <% end %>
    </div>
  </div>
</div>
