<div id="mypage">
  <div id="opa_layer">
    <h1 class="mypage_title">MyPage</h1><br>
    <div id="user_info">
      <!-- アカウントのアイコン -->
      <%= image_tag current_useraccount.avatar, size: '100x100', class: 'user_image' %>
      <%= javascript_tag do %>
        var sel_col = <%= raw current_useraccount.color.to_json %>;
        $(".user_image").css("border-color", sel_col);
      <% end %>
      <div class='user_name'>
          ユーザの名前：<br>
          <span id="account_user"><%= @account.accountname %></span>
      </div>
      <br><br><br>
      <%= link_to '編集', edit_useraccount_path, class: 'to_edit_page' %>
    </div>
  </div>
</div>
