<div id="close_side">
        <button class="hidden" onclick="open_menu();">＞</button>
      </div>
      <div id="open_side">
        <strong id="title">Menu</strong><button class="hidden" onclick="hidden_menu();">＜</button>
        <% if useraccount_signed_in?%>
          <!-- ログインユーザー名 -->
          <h1 class="account_name">
            <%= image_tag current_useraccount.avatar, class: 'user_image' %>
            <%= javascript_tag do %>
              var sel_col = <%= raw current_useraccount.color.to_json %>;
              $(".user_image").css("border-color", sel_col);
            <% end %>
            <span class='useraccount_name'><%= current_useraccount.accountname %></span>
          </h1><br><br>

          <!-- グループ -->
          <div class='group_list'>
            <% @groups.each do |group| %>
              <strong><%= link_to group.group_name, "/#{group.id}", class: "group"%></strong><br>
            <% end %>
          </div>

          <!-- 他のユーザー -->
          <hr class="hr_style">
          <h1 id="user_title">Other User</h1>
          <div class="user_list">
            <% @accounts.each do |account| %>
              <% unless current_useraccount.accountname == account.accountname %>
                <strong><%= link_to account.accountname, "/dms/#{account.id}", class: "other_user" %></strong><br>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>