<!DOCTYPE html>
<html>
<head>
  <title>ぶんつーる♡</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <%= render 'layouts/header' %>

    <!-- メインコンテンツ -->
    <!-- サイドバー -->
    <% if useraccount_signed_in? && params[:controller] == 'chats' || params[:controller] == 'dms' || params[:controller] == 'groups' %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <div id="main">
      <!-- チャット部分 -->
      <div id="content">
        <%= yield %>
      </div>

      <!-- 1番下にスクロール -->
      <script>
        var contentHeight = document.getElementById("ul_list").scrollHeight;
        $('#content').animate({scrollTop: $('#ul_list').height()});
      </script>
    </div>
</body>
</html>
