<!DOCTYPE html>
<html>
<head>
  <title>ぶんつーる♡</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <!-- ヘッダー部 -->
    <header class="header">
        <% if useraccount_signed_in? && params[:id] || params[:controller] == 'dms' %>
          <div class="user_nav logout_head">
            <% if params[:controller] == 'dms' %>
              <strong class="select"><%= @account.accountname %>　<span class='sub_msg'>ダイレクトメッセージが送れます</span></strong>
            <% elsif params[:controller] == 'chats' && @group.present? %>
              <strong class="select"><%= @group.group_name %>　<span class="sub_msg">全体に投稿できます</span></strong>
            <% end %>
            <%= link_to "ログアウト", destroy_useraccount_session_path, method: :delete, class: 'post' %>
            <%= link_to "マイページ", useraccount_path(current_useraccount), class: 'post' %>
            <% if params[:controller] == 'useraccounts' %>
              <div class='user_nav'><%= link_to '<=戻る', '/', class: 'group_post group_back' %></div>
            <% end %>
          </div>
        <% elsif params[:controller] == 'groups' %>
          <div class='user_nav'>
            <%= link_to '<=戻る', '/', class: 'group_post group_back' %>
            <span class='group_post'>グループが作れます</span>
          </div>
        <% else %>
          <div class="user_nav">
            <%= link_to "新規登録", new_useraccount_registration_path, class: 'post' %>
            <%= link_to "ログイン", new_useraccount_session_path, class: 'post' %>
          </div>
        <% end %>
    </header>

    <!-- メインコンテンツ -->
    <% if useraccount_signed_in? && params[:controller] == 'chats' || params[:controller] == 'dms' || params[:controller] == 'groups' %>
      <div id="close_side">
        <button class="hidden" onclick="open_menu();">＞</button>
      </div>
        <div id="open_side">
          <strong id="title">Menu</strong><button class="hidden" onclick="hidden_menu();">＜</button>
          <% if useraccount_signed_in?%>
            <!-- ログインユーザー名 -->
            <h1 class="account_name"><span style="color:#777;">You: </span><%= current_useraccount.accountname %></h1>

            <!-- グループ -->
            <strong><%= link_to 'add group', new_group_path, class: 'add_group' %></strong>
            <div class='group_list'>
              <% @groups.each do |group| %>
              <strong><%= link_to group.group_name, "/#{group.id}", class: "group"%></strong><br>
              <% end %>
            </div>
            <!-- 他のユーザー -->
            <hr class="hr_style">
            <h1 id="user_title">Other User</h1>
            <div class="user_list">
              <% @accounts.each do |account| %>
                <% unless current_useraccount.accountname == account.accountname %>
                  <strong><%= link_to account.accountname, "/dms/#{account.id}", class: "other_user" %></strong><br>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="main">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- チャット部分 -->
        <div id="content">
          <%= yield %>
        </div>

        <!-- 1番下にスクロール -->
        <script>
          var contentHeight = document.getElementById("ul_list").scrollHeight;
          $('#content').animate({scrollTop: $('#ul_list').height()});
        </script>

      </div>
  <% elsif params[:controller] == 'useraccounts' %>
    <%= yield %>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
