<!DOCTYPE html>
<html>
<head>
  <title>Chattool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if useraccount_signed_in? %>
    <header class="header">
        <% if useraccount_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_useraccount_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="grid-6">
            <div class="grid-6-1"><%= link_to "ログイン", new_useraccount_session_path, class: 'post' %></div>
            <div class="grid-6-1"><%= link_to "新規登録", new_useraccount_registration_path, class: 'post' %></div>
          </div>
        <% end %>
    </header>

    <div id="main">
      <div id="side">
      <strong id="title">★Chat Tool!★</strong>
        <% if useraccount_signed_in? %>
          <h1 class="accountname"><%= current_useraccount.accountname %></h1>

          <% @accounts.each do |account| %>
            <% unless current_useraccount.accountname == account.accountname %>
              <strong class="other_user"><%= link_to account.accountname, "/dms/#{account.id}" %><strong><br>
            <% end %>
          <% end %>
        <% else %>

        <% end %>
      </div>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div id="content">
        <%= yield %>
      </div>


      <script>
        var contentHeight = document.getElementById("ul_list").scrollHeight;
        console.log($('#ul_list').height());
        $('#content').animate({scrollTop: $('#ul_list').height()});
      </script>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
