<!DOCTYPE html>
<html>
<head>
  <title>ぶんつーる♡</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <%= render 'layouts/header' %>

    <!-- メインコンテンツ -->
    <!-- サイドバー -->
    <% if useraccount_signed_in? && params[:controller] == 'chats' || params[:controller] == 'dms' || params[:controller] == 'groups' %>
      <div id="close_side">
        <button class="hidden" onclick="open_menu();">＞</button>
      </div>
        <div id="open_side">
          <strong id="title">Menu</strong><button class="hidden" onclick="hidden_menu();">＜</button>
          <% if useraccount_signed_in?%>
            <!-- ログインユーザー名 -->
            <h1 class="account_name"><span style="color:#777;">You: </span><%= current_useraccount.accountname %></h1>

            <!-- グループ -->
            <div class='group_list'>
              <% @groups.each do |group| %>
              <strong><%= link_to group.group_name, "/#{group.id}", class: "group"%></strong><br>
              <% end %>
            </div>

            <!-- 他のユーザー -->
            <hr class="hr_style">
            <h1 id="user_title">Other User</h1>
            <div class="user_list">
              <% @accounts.each do |account| %>
                <% unless current_useraccount.accountname == account.accountname %>
                  <strong><%= link_to account.accountname, "/dms/#{account.id}", class: "other_user" %></strong><br>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="main">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- チャット部分 -->
        <div id="content">
          <%= yield %>
        </div>

        <!-- 1番下にスクロール -->
        <script>
          var contentHeight = document.getElementById("ul_list").scrollHeight;
          $('#content').animate({scrollTop: $('#ul_list').height()});
        </script>

      </div>
  <% elsif params[:controller] == 'useraccounts' %>
    <%= yield %>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
